<!DOCTYPE html>
<html lang="en">
<%- include('layout/head', { title: title }) %>
<body>
<%- include('layout/header') %>
<main>
    <div class="content-wrapper">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <h2>Most recent photo</h2>
        <%- include('photos/photo', { photo: photo })%>
        <p><a href="#">See other photos</a></p>
    </div>
</main>
<%- include('layout/footer') %>
</body>
</html>
