<!DOCTYPE html>
<html lang="en">
<%- include('layout/head', { title }) %>
<body>
<%- include('layout/header') %>
<main>
    <div class="content-wrapper">
        <h1>All photos, page <%= pagination.current %></h1>
        <p>The list is being updated, new photos will be added soon.</p>
        <ul class="photos">
            <% for (let photo of photos) { %>
                <li>
                    <%- include('photos/photo', { photo, link: true }) %>
                </li>
            <% } %>
        </ul>

        <%- include('photos/pagination', { pagination }) %>
    </div>
</main>
<%- include('layout/footer') %>
</body>
</html>
